services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - ${PWD}/docker/postgres_bootstrap.sql:/docker-entrypoint-initdb.d/z99_dump.sql
    networks:
      - api_network

  ml_script_test_runner:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        INSTALL_DEV_DEPENDENCIES: "true"
    # image: ingestion_script_local
    environment:
      - IP=postgres
      - RDS_USER=postgres
      - RDS_PW=postgres
      - RDS_DB=postgres
      - RDS_SCHEMA=silver
      - ENV_TYPE=docker_dev
    depends_on:
      - postgres
    networks:
      - api_network
    links:
      - postgres:postgres
    volumes:
      - ${PWD}/pyproject.toml/:/home/appuser/pyproject.toml
      - ${PWD}/src/:/home/appuser/src
      - ${PWD}/tests/:/home/appuser/tests
    command: python3 -m pytest -vv --cov-report term --cov-report xml:coverage.xml --cov=src --color=yes

networks:
  api_network:
