name: CI Pipeline

on:
  pull_request:

env:
  PYTHON_VERSION: "3.12"
  UV_VERSION: "0.9.10"

jobs:
  ci_pipeline:
    name: Test Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true

      - name: Create Logs File
        run: |
          mkdir logs
          cat > logs/example.log
        shell: bash

      - name: Run Tests
        run: |
          make ci-test

      # - name: Coveralls
      #   run: |
      #     poetry run coveralls
